<div class="d-flex flex-row justify-content-end">
  <div class="col-3">
    <label class="sr-only" for="inlineFormInput">Search</label>
    <Input
      @type="text"
      @class="form-control mb-2"
      @placeholder="Search"
      @value={{this.searchText}}
      @keyUp={{this.searchVisitors}}
    />
  </div>
</div>
  <div class="row">
    <div class="col-4">
      <SignIn />
    </div>
    <div class="col-8">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="th-name">Name</th>
            <th scope="col">Notes</th>
            <th scope="col" class="th-signed-out">Signed out</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.visitors as |visitor|}}
          <tr>
            <td class="align-baseline font-mono"><span class="visitor-name">{{visitor.name}}</span></td>
            <td class="align-baseline font-mono"><span class="visitor-notes">{{visitor.notes}}</span></td>
            <td class="align-baseline font-mono"><span class="visitor-sign-out">{{visitor.sign_out}}</span>
              {{#unless visitor.sign_out}}
                <SignOutButton @entry = {{visitor}} />{{/unless}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
